<!-- <%= @model_definition.field_definitions.inspect %> -->

<%= link_to "Back to forms", {controller: "model_definition", action: "index"}, class: "btn btn-default" %>
<br><br>
<div class="form-group model-name">
  <label class="control-label">Form Name
    <input class="model-name form-control" value="<%= @model_definition.label ? @model_definition.label : 'Untitled Form' %>" type="text" placeholder="Enter a form name"></input>
  </label>
  <span class="text-danger validation validation-model-name">Needs a name!</span>
</div>
<br>

<div role="tabpanel">

  <!-- Nav tabs -->
   <ul class="nav nav-tabs" role="tablist">
     <li role="presentation" class="active"><a href="#builder-tab" aria-controls="builder-tab" role="tab" data-toggle="tab">Builder</a></li>
     <li role="presentation" ><a class="btn disabled" href="#preview-tab" aria-controls="preview-tab" role="tab" data-toggle="tab">Preview</a></li>
     <li role="presentation"><a href="#markup-tab" aria-controls="markup-tab" role="tab" data-toggle="tab">Markup</a></li>
     <li role="presentation"><a href="#settings-tab" aria-controls="settings-tab" role="tab" data-toggle="tab">Settings</a></li>
   </ul>

   <!-- Tab panes -->
   <div class="tab-content" style="border: 1px #ddd solid; border-top: 0;">


     <div role="tabpanel" class="tab-pane fade in active" id="builder-tab">

       <div class="alert alert-warning validation validation-fields" role="alert">You'll need to add some fields first.</div>

       <div class="btn-group pull-right">
         <button class="submit-model btn btn-primary">Save Form</button>
       </div>

       <div id='formbuilder'></div>

     </div><!-- .tab-pane -->

      <div role="tabpanel" class="tab-pane fade" id="preview-tab">

        <form id="thisForm" accept-charset="UTF-8" action="/" method="POST">
          <input type="hidden" name="utf8" value="✓">
          <fieldset>
            <% @model_definition.field_definitions.each do |field_definition| %>
              <div class="form-group">
                <label><%= field_definition.label %></label>
                <% if field_definition.field_type == "text" %>
                  <input type="text" name="<%= field_definition.label.to_underscore %>" class="form-control">
                <% elsif field_definition.field_type == "paragraph" %>
                  <textarea rows="5" name="<%= field_definition.label.to_underscore %>" class="form-control"></textarea>
                <% end %>
              </div>
            <% end %>

          </fieldset>

          <hr>

          <fieldset>
            <div class="form-group">
              <label>Submit this form to:
                <input type="text" placeholder="http://url.com" value="https://formkeep.com/f/c425fedae539" id="form-action" class="form-control col-lg-6">
              </label>
            </div>

              <input type="submit" value="Submit" id="submit" class="btn btn-success col-lg-1" >
          </fieldset>

        </form>
      </div><!-- .tab-pane -->

      <div role="tabpanel" class="tab-pane fade" id="markup-tab">
        <br>
        <pre id="markup"><code class="html"></code></pre>
      </div><!-- .tab-pane -->

      <div role="tabpanel" class="tab-pane fade" id="settings-tab">
        <h2>Webhooks <small>Coming soon!</small></h2>
        <input disabled placeholder="http://example.com" type="url"><button disabled class="btn btn-link">Add another</button>
        <br>
        <button class="btn btn-sm btn-default" disabled>Save webhooks</button>
      </div><!-- .tab-pane -->

    </div><!-- .tab-content -->

</div><!-- tabpanel -->

<script type="text/javascript">
  $(function(){


    $('#markup').find('code').html(
      htmlEntities(
        $('#thisForm').parent().html()
      )
    );

    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });

    $('input#submit').click(function(){
      $('#thisForm').get(0).setAttribute('action', $('#form-action').val());
    });


    function htmlEntities(str) {
      return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
    }

  });
</script>



<script>

  $(function(){
    $modelName = $('input.model-name');
    $submitButton = $('.submit-model')

    var formConfig = null;

    var bootstrapData = <%= @model_definition ? @model_definition.field_definitions.to_json.html_safe : "[]" %>

    var formbuilder = new Formbuilder({ selector: '#formbuilder', bootstrapData: bootstrapData });

    formbuilder.on('save', function(payload){
      formConfig = JSON.parse(payload);
    })

    if (bootstrapData.length > 0){
      $('.nav-tabs .btn').removeClass('disabled');
    }

    $('.validation').hide();

    $submitButton.click(function(event) {
      modelName = $modelName.val();

      $('.validation').hide();
      $('.form-group.model-name').removeClass('has-warning has-feedback');

      // validate some stuff
      if(formConfig == null){
        $('.validation.validation-fields').show();
        console.log('No fields.');
        return;
      }else if(modelName == "" || modelName == null){
        $('.validation.validation-model-name').show();
        $('.form-group.model-name').addClass('has-warning has-feedback');
        console.log('No model name.');
        return;
      }

      // Remove the disabled class from the preview if it's disabled.
      $('.nav-tabs .btn').removeClass('disabled');

      modelConfig = {
        modelName: modelName,
        fields: formConfig.fields
      };

      console.log("This is what your model looks will look like: ");
      console.dir(modelConfig);

      $.ajax({
        type: 'POST',
        url: '/model_definition/',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: JSON.stringify(modelConfig),
        contentType: "application/json",
        dataType: "json"
      })

      .done(function() {
        console.log('success');
        window.location.href = '/model_definition/'
      })
      .fail(function() {
        console.log('fail');
      });
    });

  });
</script>
