<div class="row">
    <%= link_to 'Create a new Model', new_model_definition_path, class: 'btn btn-default pull-right' %>
</div>

<div class="row">
  <h1><u>Models</u></h1>

  <% if @model_definitions.size == 0 %>
    No Models found.
    <%= link_to 'Click here', new_model_definition_path %> to make a new one.
  <% end %>

  <% @model_definitions.each do |model_definition| %>
    <div>
       <h2><%= model_definition.label %></h2>
       <h3>Fields: </h3>
        <ul>
          <% model_definition.field_definitions.each do |field_definition| %>
            <li><h4><%= field_definition.label %>, type '<%= field_definition.field_type %>'</li>
          <% end %>
        </ul>
    </div>
  <% end %>
</div>
